header{
    background-color: #59BEDD;
}

section{
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    background-color: #E0E0E0;
    color: #777;
}                               

footer {
    padding-top:20px;
}

a {
    color: #777;
    text-decoration:none;
}

a:active,a:hover {
    color: #FF4040;
}

h2{
    font-size: 40px;
    margin-bottom: 10px;
}
h3{
    font-size:25px;
    margin-bottom: 5px;

}
ul{
    list-style: square;
    margin-left: 20px;
}
footer a{
    font-weight: bold;
    line-height: 1.6em;
    text-transform: lowercase;
    text-decoration: none;
}

nav{
    background-color: #59BEDD;
    letter-spacing: 1px;
}
nav a{
    display:block;
    color:white;
    font-weight: bold;
    text-transform: uppercase; 
    text-decoration: none;
    padding: 7px;
}
nav ul{
    list-style: none;
}
nav li{
    width: 150px;
    text-align:center;
    float: left;
    background: none;
}
nav a:hover{
    color: #7F7F7F;
}

.admin{
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
    border:1px solid #e5e5e5;
}
.admin a, .sidebar a{
    border-bottom:1px dotted #777;
}

#wrapper{
    background-color: #FFF;
}
