/* CSS for embed.js */
@import url("//ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/tundra/tundra.css");
.irigo-tooltip-base .dijitButtonText, .irigo-tooltip-base .dijitArrowButtonInner{display: none;}
.irigo-tooltip-base-icon {background: url("/static/img/questionmark.png") no-repeat 0 0 transparent;height: 16px;width: 16px;vertical-align: top;}
.dijitButtonNode {border: none;}

