{% macro render_field(field, docsuid=None, extra_field=False) %}
<div id="{{field.label.text|lower}}-wrapper">
  {% if field.type != 'HiddenField' %}
  <dt>{{ field.label.text }}      
    {%- if docsuid %}
    <a href="//docs.irigo.com/topics/{{docsuid}}" rel="help" target="_blank" class="irigo-tooltip">help</a>
    {%- endif %}
  </dt>
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
    {% if extra_field %}<div id="{{field.id}}-field"></div>{% endif %}
    {% if field.errors %}
    <ul class="errors">
      {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
  {% endif %}
  </dd>
</div>
{% endmacro %}
