{% extends 'base.html'%}
{% block body %}
<form method="post" action="{{action}}" class="aligned">
  <p>
    <label for="category">Category:</label>
    <input id="category" type="text" name="category" value="{{doc.category}}" />
  </p>

  <p>
    <label for="title">Title:</label>
    <input id="title" type="text" name="title" value="{{doc.title}}"/>
  </p>

  <p>
    <label for="body">Body:</label>
    <textarea name="body" cols="80" rows="20">{{doc.body}}</textarea>
  </p>

  <div>
    <button id="formButton" type="submit">Save</button>
  </div>

</form>

<script type="text/javascript">
dojo.addOnLoad(function(){
  ed.form({domId:'$id', clearOnSuccess: $clearFormOnSuccess});
});
</script>
{% endblock %}
