{% extends 'base.html' %}
{% block body %}
<ul>
{% set category = 'foo' %}
{%- for e in entries -%}
  {%- if category != e.category -%}
    {%- set category = e.category -%}
</ul>
<h2>{{e.category}}</h2>
<ul>
  {%- endif %}
  <li>{{e.title}}
    {%- if is_staff %}
    &nbsp;<a href="{{ url_for('form', id=e.id) }}">[edit]</a>
    <form action="{{ url_for('doc', id=e.id) }}?_method=DELETE" method="POST" style="display:inline"><input type="submit" value="delete" class="dijitButtonNode"></input></form>
    {%- endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
