{% extends 'base.html'%}
{% from "_sidebarhelpers.html" import render_sidebar %}
{% block title %}System{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<aside class="sidebar grid_3">
  {{ render_sidebar(None, user) }}
</aside>

<div class="grid_9">
  <h2>System</h2>
  <form method="post" action="" >
    <dl>
      {{ render_field(form.name) }}
      {{ render_field(form.description, extra_field=True) }}
      {{ render_field(form.meta_description, rows=3, cols=80, docsuid="jNyH9vp") }}
      {{ render_field(form.icon_url) }}
    </dl>
    
    <p><input type="submit" value="Save System"></p>
  </form>
</div>
  
{% endblock %}

{% block script %}
  <script src="https://docs.irigo.com/plugin/embed.js"></script>
  <script>
    dojo.require("dijit.Editor");
    dojo.require("dijit._editor.plugins.LinkDialog");
    dojo.require("dijit._editor.plugins.ViewSource");
    dojo.require("dijit._editor.plugins.AlwaysShowToolbar");

    dojo.ready(function () {

      dojo.query('#description').style({display:'none'});
      var editor = new dijit.Editor({extraPlugins:[
        'dijit._editor.plugins.AlwaysShowToolbar', 
        'createLink', 
        'insertImage', 
        'viewsource']}, dojo.byId('description-field'));
      editor.set('value', dojo.byId('description').value);

      dojo.query('form').onsubmit(function () {
         dojo.byId('description').value = editor.get('value');
      });

      dojo.query('.irigo-tooltip').irigoTooltip();
   });
  </script>
{% endblock %}  
