{% extends 'base.html' %}
{% block navigation %}
<li><a href="{{url_for('add_topic', system=o.key_name)}}">Add Topic</a></li>
{% endblock %}

{% block body %}
<h2>{{o.name}}</h2>
<ul>
{% set category = 'foo' %}
{% for t in o.topics -%}
  {%- if category != t.category -%}
    {%- set category = t.category -%}
</ul>
<h2>{{t.category}}</h2>
<ul>
  {%- endif %}
  <li>{{t.title}}
    &nbsp;<a href="{{url_for('edit_topic', system=o.key_name, key_name=t.key_name)}}">[edit]</a>
    <form action="{{url_for('delete_topic', system=o.key_name, key_name=t.key_name)}}?_method=DELETE" method="POST" style="display:inline"><input type="submit" value="delete" class="dijitButtonNode"></input></form>
  </li>
{% endfor %}
</ul>
{% endblock %}
