{% extends 'base.html' %}
{% block title %}Help and documentation for Irigo Services{% endblock %}
{% block body %}
<ul class="clearfix">
{%- for e in systems -%}
<li class="grid_3">
  <h3>
    {% if e.icon_url %}
    <a href="{{url_for('get_system', key_name=e.key_name)}}"><img src="{{e.icon_url}}" alt="{{e.name}}" width="150" /></a>
    {% else %}
    <a href="{{url_for('get_system', key_name=e.key_name)}}">{{e.name}}</a>
    {% endif %}
  </h3>
</li>
{% endfor %}
</ul>

{% if user %}
<div class="admin">
  <ul>
    <li>
      <a href="{{url_for('add_system')}}">[add system]</a>
    </li>
    <li>
      <a href="{{url_for('upload_file')}}">[upload image]</a>
    </li>
    <li>
      <a href="{{url_for('get_uploads')}}">[images]</a>
    </li>
  </ul>
</div>
{% endif %}

{% endblock %}
