{% extends 'base.html'%}
{% from "_sidebarhelpers.html" import render_sidebar %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<div class="sidebar grid_3">
  {{ render_sidebar(system) }}
</div>
<div class="grid_9">
  <form method="post" action="" >
    <dl>
      {{ render_field(form.category) }}
      {{ render_field(form.name) }}
      {#{ render_field(form.published) }#}
      {#{ render_field(form.login_required) }#}
      {{ render_field(form.body, cols=80, rows=20) }}
      {{ render_field(form.system) }}
    </dl>
    <p><input type="submit" value="Save Topic"></p>
  </form>
</div>
{% endblock %}
