{% extends 'base.html'%}
{% from "_sidebarhelpers.html" import render_sidebar %}
{% set system = o.system_as_obj %}
{% block title %} | {{system.name}}: {{o.name}}{% endblock %}
{% block body %}

<aside class="sidebar grid_3">
  {{ render_sidebar(system, user) }}
</aside>

<article class="grid_9">

  <section class="topic">
    <div style="float:right">
      <a href="{{o.permalink}}">permalink</a>
    </div>
    <h2>{{o.name}}</h2>
    <div>{{o.body|safe}}</div>
  </section>

  {% if user %}
  <section class="admin">
    <a href="{{o.url}}/edit">[edit]</a>

    <form action="{{url_for('delete_topic', system_key_name=system.key_name, category=o.category, name=o.name)}}?_method=DELETE" method="POST" style="display:inline">
      <span type="submit" dojoType="dijit.form.Button">[delete]</span>
    </form>
      
    <p>As tooltip: <a href="{{o.permalink}}" rel="help" target="_blank" class="irigo-tooltip">help</a></p>
    <pre>
&lt;a href="//{{host}}{{o.permalink}}" rel="help" target="_blank" class="irigo-tooltip"&gt;help&lt;&#47;a&gt;
&lt;script src="//{{host}}/plugin/embed.js"&gt;&lt;&#47;script&gt;
&lt;script&gt;
  dojo.ready(function(){
    dojo.query('.irigo-tooltip').irigoTooltip();
  });
&lt;&#47;script&gt;
    </pre>

    <p>As dialog: <a href="//{{host}}{{o.permalink}}" rel="help" target="_blank" class="irigo-dialog">help</a></p>

<pre>
&lt;a href="//{{host}}{{o.permalink}}" rel="help" target="_blank" class="irigo-dialog"&gt;help&lt;&#47;a&gt;
&lt;script src="//{{host}}&#47;plugin&#47;embed.js"&gt;&lt;&#47;script&gt;
&lt;script&gt;
  dojo.ready(function(){
    dojo.query('.irigo-dialog').irigoDialog();
  });
&lt;&#47;script&gt;
</pre>

    <p>Load topic: <button class="irigo-content" type="button">Load</button></p>

<pre>

&lt;button class="irigo-content" type="button"&gt;Load&lt;&#47;button&gt;
&lt;script src="//{{host}}&#47;plugin&#47;embed.js"&gt;&lt;&#47;script&gt;
dojo.query('.irigo-content').onclick(function(){
  var node = this;
  var dfd = IRIGO.getTopic('{{o.permalink}}');
  dfd.then(function(js){
    alert('Name: ' + js.name + "\n" + 'Name: ' + js.body)
  });
});
&lt;&#47;script&gt;
</pre>
  </section>
  {% endif %}
</article>
{% endblock %}

{% block script %}
<script src="//{{host}}/plugin/embed.js"></script>
<script>
  dojo.ready(function(){
    dojo.query('.irigo-tooltip').irigoTooltip();
    dojo.query('.irigo-dialog').irigoDialog();

    dojo.query('.irigo-content').onclick(function(){
      var node = this;
      var dfd = IRIGO.getTopic('{{o.permalink}}');
      dfd.then(function(js){
        alert('Name: ' + js.name + "\n" + 'Name: ' + js.body)
      });
    });
  });
</script>
{% endblock %}
