{% extends 'base.html'%}
{% from "_sidebarhelpers.html" import render_sidebar %}
{% set system = o.system_as_obj %}
{% block title %}{{o.name}}: {{system.name}}{% endblock %}
{% block description %}{{o.meta_description}}{% endblock%}
{% block head %}
<link href="//ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/image/resources/image.css" rel="stylesheet" />
<link href="//ajax.googleapis.com/ajax/libs/dojo/1.5/dojox/highlight/resources/highlight.css" rel="stylesheet" />	
{% endblock %}
{% block body %}

<aside class="sidebar grid_3">
  {{ render_sidebar(system, user) }}
</aside>

<article class="grid_9">

  <section class="topic">
    <div style="float:right">
      <a href="{{o.permalink}}">permalink</a>
      {% if user -%}
      <a href="{{o.url}}/edit">[edit]</a>
      <form action="{{url_for('delete_topic', system_key_name=system.key_name, category=o.category, name=o.name)}}?_method=DELETE" method="POST" style="display:inline">
        <input type="submit" value="[delete]"></input>
      </form>
      {% endif -%}
    </div>
    <h1>{{o.category}} &gt; {{o.name}}</h1>
    <div>{{o.body|safe}}</div>
  </section>

  {% if user %}
  <section class="admin">
    <h3>API Examples</h3>
    <p>The following piece of JavaScript enables the plugin:</p>
    <pre>
&lt;script src="//{{host}}&#47;plugin&#47;embed.js"&gt;&lt;&#47;script&gt;     
    </pre>
      
    <p>Tooltip: <a href="{{o.permalink}}" rel="help" target="_blank" class="irigo-tooltip">help</a></p>

    <pre>
&lt;a href="//{{host}}{{o.permalink}}" rel="help" target="_blank" 
   class="irigo-tooltip"&gt;help&lt;&#47;a&gt;

&lt;script&gt;
  dojo.ready(function(){
    dojo.query('.irigo-tooltip').irigoTooltip();
  });
&lt;&#47;script&gt;
    </pre>

    <p>Dialog: <a href="//{{host}}{{o.permalink}}" rel="help" target="_blank" class="irigo-dialog">help</a></p>

<pre>
&lt;a href="//{{host}}{{o.permalink}}" rel="help" target="_blank" 
   class="irigo-dialog"&gt;help&lt;&#47;a&gt;

&lt;script&gt;
  dojo.ready(function(){
    dojo.query('.irigo-dialog').irigoDialog();
  });
&lt;&#47;script&gt;
</pre>
    
  <p>Text: 
    <button type="button" id="show-text-button">
      Show 
    </button>
  </p>

<pre>
&lt;a href="//{{host}}{{o.permalink}}" rel="help" target="_blank" 
   class="irigo-text">help&lt;&#47;a&gt;

&lt;script&gt;
  dojo.query('.irigo-text').irigoText();
&lt;&#47;script&gt;
</pre>

  <div id="irigo-docs-loaded-with-text" style="opacity:0">
    <a href="//{{host}}{{o.permalink}}" rel="help" target="_blank" class="irigo-text">help</a>
  </div>
  
  </section>

  {% endif %}
  <time datetime="{{o.updated}}" style="float:right">Updated: {{o.updated|date}}</time> 
</article>
{% endblock %}

{% block script %}
<script src="//{{host}}/plugin/embed.js"></script>
<script>
  dojo.require("dojox.highlight");
  dojo.require("dojox.highlight.languages._www");
  
  dojo.ready(function(){
    dojo.query('.irigo-tooltip').irigoTooltip();
    dojo.query('.irigo-dialog').irigoDialog();
    dojo.query('.irigo-text').irigoText();

    dojo.query("pre").forEach(dojox.highlight.init);

    dojo.query('.irigo-content').onclick(function(){
      var node = this;
      var dfd = IRIGO.getTopic('{{o.permalink}}');
      dfd.then(function(js){
        alert('Name: ' + js.name + "\n" + 'Name: ' + js.body)
      });
    });

  new dijit.form.Button({
    onClick: function(e){
      dojo.fadeIn({node:"irigo-docs-loaded-with-text"}).play();
    }
  }, "show-text-button");

  });
</script>
{% endblock %}
