{% extends 'base.html'%}
{% block title %}Topic{% endblock%}
{% from "_sidebarhelpers.html" import render_sidebar %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<div class="sidebar grid_3">
  {{ render_sidebar(system,user) }}
</div>
<div class="grid_9">
  <form method="post" action="" >
    <dl>
      {{ render_field(form.category) }}
      {{ render_field(form.system) }}
      {{ render_field(form.name) }}
      {{ render_field(form.meta_description, rows=3, cols=80, docsuid="jNyH9vp") }}
      {{ render_field(form.excerpt, extra_field=True) }}
      {{ render_field(form.body, extra_field=True) }}
    </dl>
    
    <p><input type="submit" value="Save Topic"></p>
  </form>
</div>
{% endblock %}

{% block script %}
  <script src="//docs.irigo.com/plugin/embed.js"></script>
  <script>
    dojo.require("dijit.Editor");
    dojo.require("dijit._editor.plugins.LinkDialog");
    dojo.require("dijit._editor.plugins.ViewSource");
    dojo.require("dijit._editor.plugins.AlwaysShowToolbar")

    dojo.ready(function () {

      var editor_args = {
        height:'', 
        extraPlugins:['createLink', 'insertImage', {name: 'viewsource', stripScripts: false, stripComments:false}, 'dijit._editor.plugins.AlwaysShowToolbar']};

      dojo.query('#body, #excerpt').style({display:'none'});
      body_editor = new dijit.Editor(editor_args, dojo.byId('body-field'));
      var excerpt_editor = new dijit.Editor(editor_args, dojo.byId('excerpt-field'));
      body_editor.set('value', dojo.byId('body').value);
      excerpt_editor.set('value', dojo.byId('excerpt').value);

      dojo.query('form').onsubmit(function () {
         body_editor.onDisplayChanged();
         dojo.byId('body').value = body_editor.get('value');
         dojo.byId('excerpt').value = excerpt_editor.get('value');
      });

    dojo.query('.irigo-tooltip').irigoTooltip();
   });
  </script>

{% endblock %}  
